# игнорировать все файлы с расширением .xml
*.xml

# кроме файла pom.xml
!pom.xml

# игнорировать файлы в папке idea
.idea/

# игнорировать все файлы с расширением .iml
*.iml

# игнорировать папку target/
target/

# игнорировать папку out/
out/
